.vagrant
elkstack.json
elkstack2.json
elkstackcluster.json
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
berks-cookbooks/
# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml